/* Add this to your Home.css */
.animate-bounce {
  animation: bounce 1s infinite;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Add these styles to Home.css */

.text-bubble {
    position: relative;
    background-color: #fbe9d0; /* Adjust color to fit your theme */
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .text-bubble::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fbe9d0; /* Same color as the bubble */
  }
  
  /* Photo styling
  img {
    max-width: 100%;
    border-radius: 50%; /* Makes the photo circular */
  
  
